@use '../abstracts/variables' as v;
@use '../base/typography' as t;

.button {
    font-family: t.$sora;
    text-transform: uppercase;
    background-color: transparent;
    padding-inline: 1.5em;
    padding-block: 1.5em;
    border: none;
    border-radius: 5px;
    font-weight: t.$bold;
    cursor: pointer;
}

.button--primary {
    background-color: v.$primary-green;
}

.brand-usp__cta {
    @extend .button;
    @extend .button--primary;
}