@use '../abstracts/variables' as v;
@use '../base/typography' as t;

.button {
    font-family: t.$sora;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-weight: t.$bold;
    cursor: pointer;
}

.button--primary {
    background-color: v.$primary-green;
}

.brand-usp__cta {
    @extend .button;
    @extend .button--primary;
    padding: 1.5em;
}

.signup-btn {
    @extend .button;
    padding: 1em;
}

.login-btn {
    @extend .button;
    @extend .button--primary;
    padding-block: 1em;
    padding-inline: 1.7em;

}

.convert-btn {
    @extend .button;
    @extend .button--primary;
    padding: 1.5em 1.7em;
    max-width: 300px;
}