@use '../abstracts/variables' as v;
@use '../base/typography' as t;
@use '../abstracts/mixins' as m;


.modal {
    &-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__body {
        flex-basis: 90%;
        max-width: 950px;
        border-radius: 7px;
        background-color: white;

        & header {
            padding-inline: v.$root-size + 1;
            padding-block: v.$root-size + .5;
            border-radius: 7px 7px 0 0;
        }

        & main {
            padding-inline: v.$root-size + 1;
            padding-block: 3.5em;
            border-radius: 0 0 7px 7px;


        }
    }

    &__page-logo {
        display: flex;
        align-items: center;
    }


    &__icon {
        width: 45px;
        height: 45px;
    }

    &__title {
        color: v.$letter-blue;
        width: 10em;
        margin-left: v.$root-size - .5;
    }
}

.convert {

    &-form {
        display: flex;
        flex-direction: column;
        gap: 1.5em;

        @include m.respond-to('tablet') {
            flex-direction: row;
        }
    }

    &-from, 
    &-to {
        @include m.respond-to('tablet') {
            flex-basis: 50%;
        }
    }

    &__input {
        display: flex;
        align-items: center;
        border: solid 1px v.$line-gray;
        border-radius: 5px;
        padding-right: 1em;

        & input,
        & select {
            border: none;
            padding-block: 1.5em;
            background-color: v.$fade-white;
        }

        & input {
            flex-basis: 70%;
        }

        & select {
            border-left: 1px solid v.$line-gray;
            flex-basis: 30%;
        }
    }

    &-stats {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__output{
        margin-block: 1.5em;
        color: v.$letter-gray;
        font-size: t.$logohead;

        @include m.respond-to('tablet') {
            align-self: flex-start;
        }
    }
}