@use '../abstracts/variables' as v;
@use '../base/typography' as t;
@use '../abstracts/mixins' as m;


// Pre-loaded 

table[class="pre-load"] {
    width: 100%;
    border-spacing: v.$root-size + .5;

    & td {
        height: 1em;
        background-color: rgba(99, 99, 99, 0.1);
        border-radius: 5px;
        padding-block: 1em;
        animation: 1s ease 0s pre-load infinite;

        &:nth-child(4) {
            display: none;
            @include m.respond-to('tablet') {
                display: table-cell;
            }
        }

        @for $i from 1 to 4 {
            &:nth-child(#{$i}) {
                animation-delay: $i * calc(1s / 8);
            }
        }
    }
}

// Loaded

.crypto-table {
    width: 100%;
    border-collapse: collapse;
}

.crypto-table-head {
    text-align: left;
    
    & th {
        padding-block: 1em;
        font-weight: t.$regular;
        font-size: t.$tinytext;
        color: v.$letter-gray;

        &:nth-child(1) {
            width: 70%;
        }

        &:nth-child(2) {
            width: 30%;
        }

        &:nth-child(3) {
            display: none;
        }

        &:nth-child(4) {
            display: none;
        }

        @include m.respond-to('mobile') {
            &:nth-child(1) {
                width: 45%;
            }
    
            &:nth-child(2) {
                width: 30%;
            }
    
            &:nth-child(3) {
                display: table-cell;
                width: 25%;
            }
    
            &:nth-child(4) {
                display: none;
            }
        }

        @include m.respond-to('tablet') {
            &:nth-child(1) {
                width: 40%;
            }
    
            &:nth-child(2) {
                width: 30%;
            }
    
            &:nth-child(3) {
                width: 20%;
            }
    
            &:nth-child(4) {
                display: table-cell;
                width: 10%;
            }
        }
    }
}

.crypto-table-body {

    & td {
        font-family: t.$urbanist;
        color: v.$letter-blue;
        font-size: t.$bigtext;

        &:nth-child(1) {
            display: flex;
            align-items: center;
        }

        &:nth-child(2) {
            font-weight: t.$huge;
        }

        &:nth-child(3) {
            display: none;
            @include m.respond-to('mobile') {
                display: table-cell;
            }
        }

        &:nth-child(4) {
            display: none;
            @include m.respond-to('tablet') {
                display: table-cell;
            }
        }
    }
}

.crypto {
    &__icon {
        background-color: #fff;
        border: none;
        height: 30px;
        width: 30px;
    }

    &__abbr {
        margin-left: 1em;
    }

    &__name {
        color: v.$letter-gray;
    }

    &__change {
        padding: .5em 0;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
        max-width: 150px;

        &__arrow {
            background: no-repeat;
            background-position: 50%;
            background-size: t.$subhead;    
            width: t.$bigtext;
            height: t.$bigtext;
        }

        &__arrow--bull {
            @extend .crypto__change__arrow;
            background-image: url(../../../assets/arrow-high.svg);
        }

        &__arrow--bear {
            @extend .crypto__change__arrow;
            background-image: url(../../../assets/arrow-low.svg);
        }

        &--bear {
            @extend .crypto__change;
            background-color: v.$fade-red; 
 
        }

        &--bull {
            @extend .crypto__change;
            background-color: v.$fade-green; 
        }
    }

    &__dynamic {
        background: no-repeat;
        background-size: contain;
        background-position: 0% 50%;
        padding: .5em 0;
        height: 2em;

        &--bear {
            @extend .crypto__dynamic;
            background-image: url(../../../assets/bear-change.svg);
        }

        &--bull {
            @extend .crypto__dynamic;
            background-image: url(../../../assets/bull-change.svg);
        }
    }
}