@use '../abstracts/variables' as v;

.footer-layout {
    margin-inline: v.$root-size;
    padding-block: 3em 2em;
    padding-inline: 1.5em;
}

.footer-nav {
    color: v.$letter-gray;
    line-height: 1.5;
    margin-top: 2.5em;

    &__head {
        margin-bottom: 0;
    }

    &__link {
        color: v.$letter-gray;
    }
}

.footer-row {
    display: flex;
    align-items: center;
    gap: 2em;

    & > div {
        flex-basis: 50%;
    }
}

