@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;


.header-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin-inline: auto;

    &-layout {
        padding-block: v.$root-size;
        padding-inline: 1em;
        max-width: 100%;
        border-bottom: 1px solid v.$line-gray;
    }
}

.header-brand {
    
    &-outline {
        margin-inline: v.$root-size;
    }

    &-layout {
        margin-inline: auto;
        border-inline: 1px solid v.$line-gray;
    }

    @include m.respond-to('tablet') {
        display: flex;
    };
}