@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

main {
    border-block: 1px solid v.$line-gray;
    height: 100px;
}

.main-layout {
    margin-inline: v.$root-size;
    height: 100%;
    border-inline: 1px solid v.$line-gray;
}