@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;


main {
    border-block: 1px solid v.$line-gray;
}

.main-layout {
    margin-inline: auto;
    height: 100%;
    border-inline: 1px solid v.$line-gray;
    padding: 2.5em v.$root-size + 1.5;
}