// Colors

$primary-green: rgb(99, 255, 161);
$fade-green: rgb(241, 255, 247);
$letter-blue: rgb(45, 47, 52);
$letter-gray: rgb(99, 99, 99);
$line-gray: rgb(207, 207, 207);
$black: rgb(0, 0, 0);


// Dimensions
$root-size: 1em;