// Colors

$primary-green: rgb(99, 255, 161);
$bg-green: rgb(206, 216, 203);
$fade-green: rgb(241, 255, 247);
$fade-red: rgba(253,  129,  141,  15%);
$fade-white: rgb(250, 250, 250 );
$letter-blue: rgb(45, 47, 52);
$letter-gray: rgb(99, 99, 99);
$line-gray: rgb(207, 207, 207);
$line-gray-bg: rgb(189, 189, 189);
$black: rgb(0, 0, 0);


// Dimensions
$root-size: 1em;